<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col-2">
            <div class="p-5 border bg-success"><br><br><br><br><br>Home<br><br><br><br><br><br><br><br>New Chat<br><br><br><br><br><br></div>
           </div>      
      <div class="col">
       <div class="p-3 border bg-success">Chats<br><br><button type="button" class="btn btn-light">1</button>  Chat<br><br><button type="button" class="btn btn-light">2</button>  Chat<br><br><button type="button" class="btn btn-light">3</button>  Chat<br><br><button type="button" class="btn btn-light">4</button>  Chat<br><br><br><br></div>
      </div>
      <div class="col">
        <div class="p-3 border bg-success">Start Video Chat<br><br><br><br><br><br><br><br><br><br><br><br></div>
      </div>
    </div>
  </div>